*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f860d2cb;
    height: 100vh;
}

.card {
    padding: 20px 26px;
    position: absolute;
    margin-top: 0px;
    border: 3px solid#064e04;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    font-size: large;
    text-wrap: pretty;
    margin: 20px;
    top: 20%;
    left: 5%;
    right: 5%;


}

.btn {
    padding: 10px 26px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
}

.btn:hover::after {
    translate: 0;
}

.btn:hover {
    background-color: #111827;
    color: #f9fafb;
}

.btnn {
    padding: 10px 26px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btnn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #111827;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
}

.btnn:hover::after {
    translate: 0;
}

.btnn:hover {
    background-color: #111827;
    color: #f9fafb;
}